{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<p>
    Welcome to Validation Store.
</p>
<p>
    I'm building this site to be a convenient place
    to upload, share, and compare model validation results.
</p>
<p>
    You can
    <ul>
        <li>upload JSON reports</li>
        <li>view a list of the reports on the <a href="/reports">reports</a> page</li>
        <li>view report details (metadata, metrics, confusion matrix)</li>
        <li>compare certain metrics across reports</li>
    </ul>
</p>
<p>
    <a href="https://github.com/pvarsh/metrics_store">GitHub Repo</a>.
</p>
{% endblock %}
